In [14]:
# 创建一个人工数据集，并储存在csv（逗号分隔值）文件
import os

os.makedirs(os.path.join('..', 'data'), exist_ok = True)
data_file = os.path.join('..', 'data', 'house_tiny.csv')
with open(data_file, 'w') as f:
    f.write('NumRooms, Alley, Price\n')  # 列名
    f.write('NA, Pave, 127500\n')  # 每行表示一个数据样本
    f.write('2, NA, 10600\n')
    f.write('4, NA, 178100\n')
    f.write('NA, NA, 140000\n')

In [15]:
import pandas as pd

data = pd.read_csv(data_file)
print(data)

   NumRooms  Alley   Price
0       NaN   Pave  127500
1       2.0     NA   10600
2       4.0     NA  178100
3       NaN     NA  140000

In [16]:
# 为了处理缺失的数据，典型的方法包括插值和删除，这里，我们将考虑插值
# 把第0和第1列的所有的行放在inputs里，把最后1列放在outputs里
inputs, outputs = data.iloc[:, 0:2], data.iloc[:, 2]
inputs = inputs.fillna(inputs.mean())
print(inputs)

   NumRooms  Alley
0       3.0   Pave
1       2.0     NA
2       4.0     NA
3       3.0     NA

/var/folders/m1/p_1vmln97yzfsz9nvkjbty_00000gn/T/ipykernel_29975/1957672785.py:4: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  inputs = inputs.fillna(inputs.mean())

In [17]:
# 对于inputs中的类别值或离散值，我们将“NaN”视为一个类别
inputs = pd.get_dummies(inputs, dummy_na = False)
print(inputs)

   NumRooms   Alley_ NA   Alley_ Pave
0       3.0           0             1
1       2.0           1             0
2       4.0           1             0
3       3.0           1             0

In [21]:
# 现在inputs和outputs中的所有条目都是数值类型，它们可以转换为张量模式
import torch

X, y = torch.tensor(inputs.values), torch.tensor(outputs.values)
X, y

(tensor([[3., 0., 1.],
         [2., 1., 0.],
         [4., 1., 0.],
         [3., 1., 0.]], dtype=torch.float64),
 tensor([127500,  10600, 178100, 140000]))